{% load static %}
{% load cloud_image %}
{% load get_first_photo %}

<div class="my-4">
    <!-- header -->
    <div class="my-2 py-2 row no-gutters sec-bg">
        <div class="pl-4 col-4 col-sm-3" >
{#            <a href="{% url name|add:'s' %}" class="btn btn-link">{{ name_kaz }}</a>#}
            <h5 class="pri-color">{{ name_kaz }}</h5>
        </div>
        <div class="col-8 col-sm-9 text-muted d-flex align-self-center" style="font-size: .9rem">
            {% if current_category %}
                {{ current_category.name }} &middot;
            {% endif %}
            {{ advert_count }} объявлении
        </div>
    </div>

    <!-- mobile categories -->
    <div class="mb-3 d-flex hide-scroll-bar d-md-none" style="font-size: 0.9rem;">
        <div class="p-1 ml-2 mr-md-2 rounded text-lowercase text-nowrap text-white text-center" style="background-color: rgb(54,54,54); width: 2rem;">☆</div>
        {% for category in categories %}
            <div class="p-1 ml-2 mr-md-2 rounded text-lowercase text-nowrap" style="background-color: rgb(221,221,221)">{{ category.name }}</div>
        {% endfor %}

    </div>

    <!-- desktop categories and adverts -->
    <div class="row no-gutters">
        <!-- desktop categories -->
        <div class="d-none d-md-block col-12 col-md-3 pr-2 order-1">
            {% for category in categories %}
                {% if category.id == current_category.id %}
                <div class="mb-2 text-uppercase main-bg pl-4 " style="font-size: 0.9rem;">
                    <a class="text-white" href="{% url name|add:'_list' %}?category={{ category.id }}">{{ category.name }}</a>
                </div>
                {% else %}
                <div class="mb-2 text-uppercase pl-4 " style="font-size: 0.9rem;">
                    <a href="{% url name|add:'_list' %}?category={{ category.id }}">{{ category.name }}</a>
                </div>
                {% endif %}
            {% endfor %}
        </div>

        <!-- adverts -->
        <div class="col-12 col-md-9 order-2" style="">
            {% for advert in adverts %}
                <!-- The Modal/Lightbox -->
                <div class="mb-4 row no-gutters">
                    <div class="col-2 order-1 pl-sm-2 pl-md-0" style="">
                        <a href="{% url name|add:'_detail' pk=advert.id %}" class="">
                            <img src="{{ advert|get_first_photo:name|cloud_image }}" width="100" height="100" class="img-fluid rounded open-js" />
                        </a>
                    </div>
                    <div class="col-10 order-2 pl-2 ">
                        {% if main_page %}
                            <div class="small text-muted">{{ advert.category.name }}</div>
                        {% endif %}
                        {% if name == 'service' %}
                            <div>{{ advert.title }}</div>
                            <div class="small text-muted">
                                <span class="mr-2">{{ advert.contact }}</span>
                            </div>
                        {% endif %}
                        <div class="" style="font-size: 0.9rem;">
                            {{ advert.content|slice:"0:100" }}
                            <span class="d-none d-sm-inline">{{ advert.content|slice:"101:" }}</span>
                            <span class="continue-js text-muted d-sm-none">...жалғасы</span>
                        </div>
                        <div class="small text-muted">{{ advert.created_date }}</div>
                    </div>
                </div>
            {% endfor %}
            {% if main_page %}
                <div class="text-center">
                    <a href="{% url name|add:'_list' %}"><u class=" text-muted">еще</u></a>
                </div>
            {% endif %}
        </div>
    </div>

    {% if is_paginated %}
        <nav>
            <ul class="pagination justify-content-center">
                {% if page_obj.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.previous_page_number }}{{ filter_param_str }}">
                            <span>&laquo;</span>
                        </a>
                    </li>
                {% endif %}

                {% for num in page_obj.paginator.page_range %}
                    <li
                            {% if page_obj.number == num %}
                            class="page-item active"
                            {% else %}
                            class="page-item"
                            {% endif %}
                    >
                        <a href="?page={{ num }}{{ filter_param_str }}" class="page-link">{{ num }}</a>
                    </li>
                {% endfor %}

                {% if page_obj.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.next_page_number }}{{ filter_param_str }}">
                            <span>&raquo;</span>
                        </a>
                    </li>
                {% endif %}
            </ul>
        </nav>
    {% endif %}
</div>