{% load static %}
{% load crop_image %}
{% load get_first_photo %}

<!-- The Modal/Lightbox -->
<div>
    <div class="pl-sm-2">
        <a href="{% url 'service_detail' pk=advert.id %}" class="normall">{{ advert.title }}</a>
        <div class="text-muted bb-small">{{ advert.contact }}</div>
    </div>
    <div class="d-flex mb-4">
            {% if advert.servicephoto_set.count > 0 %}
            <div class="bb-responsive-photo mr-2">
                <a href="#" onclick="showImages(this, {{ advert.id }}); return false;">
                    <img src="{{ advert.servicephoto_set.first|crop_image:'130,130' }}"  class="img-fluid rounded" />
                </a>
            </div>
            {% endif %}
        <div class="">
            <div class="bb-small" style="word-wrap: break-word">
                {{ advert.content|slice:"0:120" }}
                <span class="d-none d-sm-inline">{{ advert.content|slice:"121:305" }}</span>

                <span class="continue-js text-muted d-sm-none"> дальше</span>
            </div>
        </div>
    </div>
</div>