{% load static %}
{% load cloud_image %}
{% load get_first_photo %}

<!-- The Modal/Lightbox -->
<div class="mb-4 row no-gutters">
    <div class="col-2 order-1 pl-sm-2 pl-md-0" style="">
        <a href="{% url name|add:'_detail' pk=advert.id %}" class="">
            <img src="{{ advert|get_first_photo:name|cloud_image }}" width="100" height="100" class="img-fluid rounded open-js" />
        </a>
    </div>
    <div class="col-10 order-2 pl-2 ">
        {% if name == 'service' %}
            <div>{{ advert.title }}</div>
            <div class="small text-muted">
                <span class="mr-2">{{ advert.contact }}</span>
            </div>
        {% endif %}
        <div class="" style="font-size: 0.9rem;">
            {{ advert.content|slice:"0:100" }}
            <span class="d-none d-sm-inline">{{ advert.content|slice:"101:" }}</span>
            <span class="continue-js text-muted d-sm-none">...жалғасы</span>
        </div>
        <div class="small text-muted">{{ advert.created_date }}</div>
    </div>
</div>