{% load static %}
{% load crop_image %}


<div class="clearfix mb-4">
        {% if advert.servicephoto_set.count > 0 %}
        <div class="bb-responsive-photo mr-2 float-left">
            <a href="#" onclick="showImages(this, {{ advert.id }}); return false;">
                <img src="{{ advert.servicephoto_set.first|crop_image:'130,130' }}"  class="img-fluid rounded" style="max-width: 100%; max-height: 100%;" />
            </a>
        </div>
        {% endif %}
        <div class="">
            <div class="pl-sm-2">
                <a href="{% url 'service_detail' pk=advert.id %}" class="normall">{{ advert.title }}</a>
            </div>
            <div class="bb-small" style="word-wrap: break-word">
                {{ advert.content|slice:"0:120" }}
                <span class="d-none d-sm-inline">
                    {{ advert.content|slice:"121:305" }}
                    <span>{{ advert.address }}</span>
                    <span class="text-center text-sm-left" style="white-space: nowrap;">
                        <img src="{% static "icons/"|add:advert.contact_set.first.type.icon %}" style="width: 1rem" />
                        <a href="{{ advert.contact_set.first.type.link_suff }}{{ advert.contact_set.first.account }}">{{ advert.contact_set.first.account }}</a>
                    </span>
                </span>
                <span class="continue-js text-muted d-sm-none"> дальше</span>
            </div>
        </div>
</div>