<div class="col d-none d-md-block ml-2" style="max-width: 205px; ">
    <div class="border border-warning p-2 sticky-top bb-small">
        <p>Егер хабарландырудың сипаттамасы шындыққа <span class="font-weight-bold" style="white-space: nowrap">сәйкес келмесе</span></p>
{#        <span>Если у вас есть</span><br/>#}
{#        <span>- претензии</span><br/>#}
{#        <span>- дополнения</span><br/>#}
{#        <span>- комментарий</span><br/>#}
        <span>Бізге Инстаграмға</span>
        <a href="https://instagram.com/burnoekz" class="" title="instagram.com/burnoekz" target="_blank">@burnoekz</a>
        немесе WhatsApp-қа <a href="https://wa.me/77751572323" class="" style="white-space: nowrap" target="_blank">+7 775 157 2323</a> жазыңыз
    </div>
</div>