<div class="col d-none d-md-block" style="max-width: 235px; ">
    <div class="border border-warning p-2 sticky-top">
        <p>Мы каждый день работаем над улучшением сайта</p>
        <span>Если у вас есть</span><br/>
        <span>- вопросы</span><br/>
        <span>- предложения</span><br/>
        <span>- комментарий</span><br/>
        <span>Напишите нам в Инстаграм</span>
        <a href="https://instagram.com/burnoekz" class="" title="instagram.com/burnoekz">@burnoekz</a>
        или Whatsapp <a href="#" class="" style="white-space: nowrap">+7 775 157 2323</a>
    </div>
</div>