<div class="col d-none d-md-block ml-2" style="max-width: 205px; ">
    <div class="border border-warning p-2 sticky-top bb-small">
        <p>Мы каждый день работаем над улучшением сайта</p>
        <span>Если у вас есть</span><br/>
        <span>- вопросы</span><br/>
        <span>- предложения</span><br/>
        <span>- комментарий</span><br/>
        <span>Напишите нам в Инстаграм</span>
        <a href="https://instagram.com/burnoekz" class="" title="instagram.com/burnoekz" target="_blank">@burnoekz</a>
        или Whatsapp <a href="https://wa.me/77751572323" class="" style="white-space: nowrap" target="_blank">+7 775 157 2323</a>
    </div>
</div>