{% load static %}
{% load startswith %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'site.css' %}" />
    {% block mycss %}{% endblock mycss %}

    <title>{% block title %}{% endblock title %}</title>
</head>
<body>
    <div class="container-fluid p-0" style="max-width: 860px;">
        <!-- HEADER -->
        <div class="navbar navbar-light bg-primary normall bg-base">
            <a class="navbar-brand text-white font-weight-bolder" style="" href="/">Burnoe.kz</a>
            <div class="d-flex align-self-center">
                <a href="#" class="mr-2">
                    <img src="{% static 'icons/instagram.svg' %}" width="20rem" />
                </a>
                <a href="#">
                    <img class="mr-1" src="{% static 'icons/whatsapp.svg' %}" width="20rem" />
                    <a href="https://wa.me/77751572323" class="text-white font-weight-bold" target="_blank">+7 775 157 2323</a>
                </a>
            </div>
        </div>

        <!-- MENU -->
{#        <div class="mb-2">#}
{#            <ul class="nav nav-tabs bg-light text-uppercase">#}
{#                <li class="nav-item">#}
{#                    <a#}
{#                            {% if request.path == "/" or request.path|startswith:"/services" %}#}
{#                                class="nav-link active"#}
{#                            {% else %}#}
{#                                class="nav-link"#}
{#                            {% endif %} href="{% url 'service_list' %}">Услуги</a>#}
{#                </li>#}
{#                <li class="nav-item">#}
{#                    <a#}
{#                            {% if request.path|startswith:"/market" %}#}
{#                                class="nav-link active"#}
{#                            {% else %}#}
{#                                class="nav-link"#}
{#                            {% endif %}#}
{#                            href="{% url 'product_list' %}">Маркет</a>#}
{#                </li>#}
{#            </ul>#}
{#        </div>#}

{#        <div class="bg-light py-2 d-flex hide-scroll-bar" style="">#}
{#            <a href="{% url 'service_list' %}" class="text-uppercase ml-3 text-black">Услуги</a>#}
{#            <span class="text-uppercase ml-3 text-black">Недвижимость</span>#}
{#            <span class="text-uppercase ml-3 text-black">Работа</span>#}
{#            <span class="text-uppercase ml-3 text-black">Маркет</span>#}
{#        </div>#}

        <!-- CONTACTS -->
        {% block contacts %}{% endblock %}

        <!-- НОВОСТИ -->
        {% block news %}{% endblock %}

        <!-- Анонс -->
        {% block anons %}{% endblock %}

        <!-- Поиск -->
        {% block search %}{% endblock %}

        <!-- Избранные -->
        {% block best_adverts %}{% endblock %}


        <!-- Категории -->
        {% block category %}{% endblock %}

        <!-- CONTENT -->
        {% block content %}{% endblock content %}
    </div>

    <!-- FOOTER -->
    <div class="py-5 text-center small2" style="height: 100px">
        <span>Бурное 2020 | vk.com/dauletra</span>
        <div>Icons made by <a href="https://www.flaticon.local/authors/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.local/" title="Flaticon">www.flaticon.local</a></div>
    </div>

    <script src="{% static 'js/jquery-3.4.1.min.js' %}" ></script>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <script>
        $('.continue-js').click(function() {
            $(this).addClass('d-none');
            $(this).siblings('span').removeClass('d-none')
        });
    </script>
    {% block myscript %}{% endblock myscript %}
</body>
</html>