{% load static %}
{% load startswith %}
<!DOCTYPE html>
<html lang="kk">
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-178693965-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-178693965-1');
    </script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon_io/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon_io/favicon-16x16.png' %}">

    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'site.css' %}" />

    <title>{% block title %}{% endblock title %}</title>
    <meta name="description" content="{% block description %}Жуалы ауданы бойынша жарнамалық сайт. Тамақтану,
        тасымалдау, демалу және көңіл көтеру, білім беру курстары, техниканы жөндеу және т.б. хабарландырулар табасыз{% endblock %}" >

</head>
<body>
    <div class="container-fluid p-0" style="max-width: 860px;">
        <!-- HEADER -->
        <div class="navbar navbar-light bg-primary normall bg-base">
            <a class="navbar-brand text-white font-weight-bolder" style="" href="/">Burnoe.kz</a>
            <div class="d-flex align-self-center">
                <a href="https://instagram.com/burnoekz" class="mr-2" target="_blank">
                    <img src="{% static 'icons/instagram.svg' %}" width="20rem" />
                </a>
                <a  href="https://wa.me/77751572323" class="text-white font-weight-bold" target="_blank">
                    <img class="mr-1" src="{% static 'icons/whatsapp.svg' %}" width="20rem" />
                    <span>+7 775 157 2323</span>
                </a>
            </div>
        </div>

        <!-- CONTACTS -->
        {% block contacts %}{% endblock %}

        <!-- НОВОСТИ -->
        {% block news %}{% endblock %}

        <!-- CONTENT -->
        {% block content %}{% endblock content %}

        <div class="modal fade" style="max-height: 100%;" id="imageModal" tabindex="-1" aria-labelledby="imageModelLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-xl">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span>&times;</span>
                        </button>
                    </div>
                    <div id="imageModalBody" class="modal-body"></div>
                </div>
            </div>
        </div>
    </div>

    <!-- FOOTER -->
    <div class="py-3 text-center bb-small" style="">
        <div class="text-center">
            <a class="mx-2" style="white-space: nowrap" href="{% url 'terms' %}">Пайдалану шарттары</a> |
{#            <a class="mx-2" style="white-space: nowrap" href="{% url 'confident' %}">Политика конфиденциальности</a> |#}
            <a class="mx-2" href="{% url 'help' %}">Көмек</a>
        </div>

        <div>&copy; Бурное 2020</div>
        <div>
            <a href="mailto:zhualyburnoe@gmail.com">zhualyburnoe@gmail.com</a>
        </div>
        <div>Icons made by <a href="https://www.flaticon.local/authors/freepik" title="Freepik" target="_blank">Freepik</a> from <a href="https://www.flaticon.local/" title="Flaticon" target="_blank">www.flaticon.local</a></div>
    </div>

    <script src="{% static 'js/jquery-3.4.1.min.js' %}" ></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/bootstrap-autocomplete.min.js' %}"></script>

    <script>
        $('.continue-js').click(function() {
            $(this).addClass('d-none');
            $(this).siblings('span').removeClass('d-none')
        });

        $('.basicAutoComplete').autoComplete();

        function showImages(elem, id) {
            console.log('ID='+id);
            var url = '/carousel/'+id+'.html';
            $('#imageModal').modal();
            {#$('#fake_adve_'+id).removeClass('d-none');#}
            {#$(elem).parent('div.bb-responsive-photo').addClass('d-none');#}

            $('#imageModalBody').load(url, function() {
                {#$('#fake_adve_'+id).addClass('d-none');#}
                console.log('Load was performed');
            })
        }
        $('#imageModal').on('hidden.bs.modal', function(e) {
            $('#imageModalBody').empty()
        })

        let elements = document.getElementsByClassName('js-tel-number');
        let elem;

        for (elem of elements) {
            let text = elem.textContent;
            if (/^\d+$/.test(text) && text.length === 11) {
                text = '+'+text.slice(0, 1)+'('+text.slice(1, 4)+')'+text.slice(4, 7)+'-'+text.slice(7);
                elem.textContent = text;
            }
        }
    </script>
    {% block myscript %}{% endblock myscript %}
</body>
</html>