{% extends 'base.html' %}
{% load static %}

{% block title %}Burnoe.kz - рекламно-информационный портал Жуалынского района{% endblock title %}

{% block mycss %}
    <style>
        .articles {
            font-size: 0.9rem;
        }
        .shadow-only-bottom {
            box-shadow: inset 0 -10px 15px -10px rgba(0,0,0,0.45);
        }
        .shadow-top-bottom {
            box-shadow: inset 0 5px 5px -5px rgba(0,0,0,0.45), inset 0 -10px 10px -10px rgba(0,0,0,0.45);
        }
        .food-text-primary {
            color: rgb(255, 140, 0)
        }
        .food-text-secondary {
            color: rgba(255, 140, 0, 0.8)
        }
        .service-text-primary {
            color: rgb(40, 150, 255)
        }
        .service-text-secondary {
            color: rgba(40, 150, 255, 0.8)
        }
    </style>
{% endblock mycss %}

{% block content %}
<!-- HOT CONTACTS -->
    <div class="my-4">
{#        <div>Горячие контакты</div>#}
        <div class="position-relative">
            <div id="hot-container" class="d-flex flex-md-wrap justify-content-md-around overflow-auto hide-scroll-bar">
                <div class="position-absolute d-md-none" style="top: 47%; left: .5rem;">
                    <button id="hot-slide-back" class="btn btn-primary btn-sm d-none">&lt;</button>
                </div>
                <div class="position-absolute d-md-none" style="top: 47%; right: .5rem;">
                    <button id="hot-slide" class="btn btn-primary btn-sm">&gt;</button>
                </div>
                {% for foo in '12345' %}
                    <div class="border border-success small mr-3 text-center" style="width: 130px; min-width: 130px">
                        <div class="overflow-hidden" style="white-space: nowrap; color: darkgreen">Даулет такси</div>
                        <div class="overflow-hidden" style="white-space: nowrap; color: darkgreen">300 тг</div>
                        <div class="overflow-hidden" style="white-space: nowrap; color: green;">8747 112 63 03</div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <!-- FOOD -->
    <div class="">
        <div class="my-4 h5">
            Тамақтану
        </div>
        <div class="position-relative">
            <div id="food-container" class="d-flex flex-md-wrap justify-content-md-around hide-scroll-bar">
                <div class="position-absolute d-md-none" style="top: 47%; left: .5rem;">
                    <button id="food-slide-back" class="btn btn-warning rounded-circle d-none font-weight-bold">&lt;</button>
                </div>
                <div class="position-absolute d-md-none" style="top: 47%; right: .5rem;">
                    <button id="food-slide" class="btn btn-warning rounded-circle font-weight-bold">&gt;</button>
                </div>
                {% for foo in '123456' %}
                    <div class="rounded-top border mr-3 mr-md-1 mb-4" style="width: 245px; min-width: 245px; border: 1px solid rgba(255, 140, 0, 0.20)">
                        <div class="text-center">Кафе Даулет</div>
                        <img src="https://via.placeholder.com/245x147" class="img-fluid" />
                        <div class="p-1" style="font-size: 0.9rem;">
                            <div><span class="food-text-secondary1 text-muted">доставка:</span> есть</div>
                            <div><span class="food-text-secondary1 text-muted">меню:</span> Лагман, қуырдақ, шашлык, пиво и т.д.</div>
                            <div><span class="food-text-secondary1 text-muted">адрес:</span> БМУ, Жамбыл көшесі, 16 (Орталық алаңның жанында)</div>
                            <div><span class="food-text-secondary1 text-muted">тел:</span> 7471126303</div>
                        </div>
                    </div>
                {% endfor %}

                <div class="text-center mx-3" style="min-width: 170px">
                    <button class="btn" style="background-color: rgba(40,150,255,0.21)">Показать еще</button>
                </div>
            </div>
        </div>
    </div>

    <!-- SERVICES -->
    <div class="">
        <div class="my-4 h5">
            Сервистер
        </div>
        <div class="mb-4 d-flex hide-scroll-bar">
            <div class="p-2 ml-3 mr-md-3 rounded text-nowrap text-white" style="background-color: rgb(40, 150, 255)">Красота</div>
            <div class="p-2 ml-3 mr-md-3 rounded text-nowrap" style="background-color: rgba(40,150,255,0.21)">Для авто</div>
            <div class="p-2 ml-3 mr-md-3 rounded text-nowrap" style="background-color: rgba(40,150,255,0.21)">Ремонт</div>
            <div class="p-2 ml-3 mr-md-3 rounded text-nowrap" style="background-color: rgba(40,150,255,0.21)">Здоровье</div>
        </div>
        <div class="">
            {% for foo in '12345' %}
                <div class="mb-4 row no-gutters" style="max-width: 650px;">
                    <div class="col-10 order-2 pl-2 ">
                        <div>
                            Millenium ағылшын тілі курсы
{#                            <img src="{% static 'icons/photo.svg' %}" width="15rem" />#}
                        </div>
                        <div class="small text-muted my-1 ">
                            <span class="mr-2">8 747 112 63 03</span>
                            <span>БМУ, Б.Сафинов көшесі</span>
                        </div>
                        <div class="" style="font-size: 0.9rem;">
                            {% lorem 20 w random %}
                        </div>
                    </div>
                    <div class="col-2 order-1" style="">
                        <div class="position-relative" >
                            <img src="https://via.placeholder.com/100x100" class="img-fluid" />
                            <img src="{% static 'icons/zoom-in.svg' %}" width="20rem" class="position-absolute" style="top: 50%; left: 50%; transform: translate(-50%, -50%)" />
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock content %}


{% block anons %}
    <div>
        <p class="font-weight-bold pl-2" style="color:#9e0039;">События</p>
        <div class="pl-sm-2 my-2 d-flex hide-scroll-bar" style="font-size: 0.9rem; height: 140px;">
            {% for event in events %}
                <div class="overflow-hidden ml-2" style="width: 120px; min-width: 120px">
                    <div class="text-center position-relative" style="height: 80px;">
                        <img src="{% static 'icons/001-instagram.svg' %}" class="img-fluid position-absolute" style="width: 0.9rem; top: 0; left: 1rem;" />
                        <a href="{{ event.link }}" target="_blank"><img src="{{ event.photo|event_photo }}" class="img-fluid rounded-circle" /></a>
                    </div>
                    <div class="text-center" style="font-size: 0.8rem;">
                        <a href="{{ event.link }}" target="_blank" style="white-space: nowrap">{{ event.name1 }}</a> <br/>
                        <span style="white-space: nowrap">{{ event.name2 }}</span><br/>
                        <span class="text-muted">{{ event.last_date|date:"d.m.Y" }}</span>
                    </div>
                </div>
            {% endfor %}

        </div>
    </div>
{% endblock %}

{% block myscript %}
<script>
    var hot_slide = document.getElementById('hot-slide');
    hot_slide.onclick = function() {
        var container = document.getElementById('hot-container');
        sideScroll(container, 'right', 30, 150, 10);
    };

    var hot_slide_back = document.getElementById('hot-slide-back');
    hot_slide_back.onclick = function() {
        var container = document.getElementById('hot-container');
        sideScroll(container, 'left', 30, 150, 10);
    };
    $('#hot-container').on('scroll', function(e) {
        horizontal = e.currentTarget.scrollLeft;
        slide_back = $('#hot-slide-back');
        if (horizontal == 0) {
            if (!slide_back.hasClass('d-none')) {
                slide_back.addClass('d-none');
            }
        } else {
            if (slide_back.hasClass('d-none')) {
                slide_back.removeClass('d-none');
            }
        }
    });

    var food_slide = document.getElementById('food-slide');
    food_slide.onclick = function() {
        var container = document.getElementById('food-container');
        sideScroll(container, 'right', 50, 250, 20);
    };
    var food_slide_back = document.getElementById('food-slide-back');
    food_slide_back.onclick = function() {
        var container = document.getElementById('food-container');
        sideScroll(container, 'left', 50, 250, 20);
    };

    function sideScroll(element, direction, speed, distance, step) {
        scrollAmount = 0;
        var slideTimer = setInterval(function() {
            if (direction == 'left') {
                element.scrollLeft -= step;
            } else {
                element.scrollLeft += step;
            }
            scrollAmount += step;
            if (scrollAmount >= distance) {
                window.clearInterval(slideTimer);
            }
        }, speed)
    }

    $('#food-container').on('scroll', function(e) {
        horizontal = e.currentTarget.scrollLeft;
        food_slide_back = $('#food-slide-back');
        if (horizontal == 0) {
            if (!food_slide_back.hasClass('d-none')) {
                food_slide_back.addClass('d-none');
            }
        } else {
            if (food_slide_back.hasClass('d-none')) {
                food_slide_back.removeClass('d-none');
            }
        }
    })
</script>
{% endblock myscript %}