{% extends 'base.html' %}
{% load static %}
{% load cloudinary %}
{% load crop_image %}
{% load event_photo %}

{% block title %}Burnoe.kz - рекламно-информационный портал Жуалынского района{% endblock title %}

{% block mycss %}
<style>

</style>
{% endblock %}

{% block contacts %}
    <div class="mb-2 my-3">
        <div class="position-relative">
            <div id="contacts-container" class="d-flex hide-scroll-bar js-slider">
                <a href="#" class="carousel-control-prev js-slide-back d-none font-weight-bold" style="width: 30px; background-color: black;">
                    <span class="carousel-control-prev-icon"></span>
                </a>
                <a href="#" class="carousel-control-next js-slide-forward font-weight-bold" style="width: 30px; background-color: black;">
                    <span class="carousel-control-next-icon"></span>
                </a>
                {% for contact in contacts %}
                    <div class="border border-success small2 mr-3 text-center" style="width: 130px; min-width: 130px">
                        <div class="overflow-hidden" style="white-space: nowrap; color: darkgreen">{{ contact.name }}</div>
                        <div class="overflow-hidden" style="white-space: nowrap; color: darkgreen">{{ contact.price }}</div>
                        <div class="overflow-hidden" style="white-space: nowrap; color: green;">{{ contact.phone }}</div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}

{% block news %}
    <div class="row no-gutters my-2">
        <div class="col-12 col-md-8 order-2 order-md-1 py-2 py-md-0 m-0" style="">
            <div class="" style="max-width: 650px">
                {% for n_new in news %}
                    <div class="my-2 my-sm-1 pl-1">
                        <span class="text-muted">{{ n_new.created_date|date:'d.m' }}</span>
                        <img src="{% static 'icons/001-instagram.svg' %}" class="img-fluid" style="width: .9rem" />
                        <a href="{{ n_new.link }}" class="text-black" target="_blank">
                            {{ n_new.title }}
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="col-12 col-md-4 order-1 border-top border-bottom order-md-2 normall">
            <div class="m-auto text-center rounded py-2" style="max-width: 350px; color: #1c9300;">
                <div>Подать объявление <span class="font-weight-bold blood-color">бесплатно</span></div>
                <div>через Whatsapp</div>
                <div>
                    <img src="{% static 'icons/002-whatsapp.svg' %}" class="img-fluid" style="width: 1.25rem;" />
                    <span style="color: #1c9300" class="font-weight-bold">+7 747 112 6303</span>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block best_adverts %}
    <div class="pt-2 my-2"  style="">
        <div class="pl-2 font-weight-bold normall blood-color">Рекомендуем</div>
        <div class="position-relative ">
            <div class="my-2 d-flex hide-scroll-bar js-slider" style="">
                <a href="#" class="carousel-control-prev js-slide-back d-none font-weight-bold" style="width: 30px; background-color: black;">
                    <span class="carousel-control-prev-icon"></span>
                </a>
                <a href="#" class="carousel-control-next js-slide-forward font-weight-bold" style="width: 30px; background-color: black;">
                    <span class="carousel-control-next-icon"></span>
                </a>
                {% for advert in best_adverts %}
                <div class="rounded-top overflow-hidden ml-2 ml-sm-3" style="width: 180px; min-width: 180px;">
                    <div style="min-height: 100px">
                        <img src="{{ advert.servicephoto_set.first|crop_image:'180,100' }}" width="180" height="100" class="img-fluid" />
                    </div>
                    <div class="p-1 border overflow-auto hide-scroll-bar" style="height: 90px;">
                        <a href="{% url 'service_detail' pk=advert.id %}" class="text-black">{{ advert.title }}</a> -
                        <span class="text-muted" style="">{{ advert.contact }}</span>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}

{% block category %}
    <div class="my-4">
        <div class="pl-2 font-weight-bold normall blood-color">Услуги</div>
        <div class="text-muted pl-2" style="">Всего {{ service_count }} объявлении</div>
        <div class="my-2 d-flex flex-wrap small2">
            {% for category in service_categories %}
                {% if category.service_count == 0 %}
                    <div class="ml-2 ml-sm-3 mb-2 p-1 border border-secondary text-muted text-center" style="width: 105px; height: 3rem;">{{ category.name }}</div>
                {% else %}
                <a href="{% url 'service_list' %}?category={{ category.id }}" class="text-decoration-none" style="color: #00454f;">
                    <div class="ml-2 ml-sm-3 mb-2 p-1 text-center" style="width: 105px; height: 3rem; border: 1px solid #00898b;">{{ category.name }}</div>
                </a>
                {% endif %}
            {% endfor %}
                <a href="{% url 'service_list' %}" class="text-decoration-none" style="color: #00454f;">
                    <div class="ml-2 ml-sm-3 mb-2 p-1 text-center" style="width: 105px; height: 3rem; border: 1px solid #00898b;">Все категории &hellip;</div>
                </a>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="pl-sm-2 pl-md-4 ml-2" style="max-width: 650px;">
        {% for advert in services %}
            {% include '_adv.html' with advert=advert only %}
        {% endfor %}
    </div>

    <div class="pl-sm-2 pl-md-4" style="">
        <div class="text-muted font-weight-bold pl-2 pr-1">Другие объявления</div>
        <div class="position-relative overflow-auto">
            <div class="d-flex align-self-center hide-scroll-bar js-slider py-2">
                <a href="#" class="carousel-control-prev js-slide-back d-none font-weight-bold" style="width: 30px; background-color: black;">
                    <span class="carousel-control-prev-icon"></span>
                </a>
                <a href="#" class="carousel-control-next js-slide-forward font-weight-bold" style="width: 30px; background-color: black;">
                    <span class="carousel-control-next-icon"></span>
                </a>
                {% for other_category in other_service_categories %}
                    <a href="{% url 'service_list' %}?category={{ other_category.id }}" class="ml-2 px-1
                    {% if other_category.service_count == 0 %}
                    text-muted
                    {% else %}
                    text-black
                    {% endif %}
                    " style="white-space: nowrap">{{ other_category.name }}</a>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}

{% block myscript %}
<script>
$('.js-slider').each(function(index) {
    console.log('js-slider ' + index);
    let width = $(this).width();
    let scrollWidth = $(this).get(0).scrollWidth;
    if (width === scrollWidth)
        $(this).children('.js-slide-forward').first().addClass('d-none');
    else {
        $(this).children('.js-slide-back').first().click(function(e) {
            let parent = $(this).parent();
            parent.animate({scrollLeft: '-=200'}, 900, 'swing');
            return false;
        });
        $(this).children('.js-slide-forward').first().click(function(e) {
            let parent = $(this).parent();
            {#sideScroll(parent, 'right', 5000, 100, 20);#}
            parent.animate({scrollLeft: '+=200'}, 900, 'swing');
            return false;
        })
    }

    $(this).on('scroll', function(e) {
        let horizontal = e.currentTarget.scrollLeft;
        // console.log(horizontal);
        let slide_back = $(this).children('.js-slide-back').first();
        let slide_forward = $(this).children('.js-slide-forward').first();

        if (horizontal === 0) {
            if (!slide_back.hasClass('d-none'))
                slide_back.addClass('d-none')
        } else {
            if (slide_back.hasClass('d-none'))
                slide_back.removeClass('d-none')
        }

        let width = $(this).width();
        let scrollWidth = $(this).get(0).scrollWidth;
        if (scrollWidth - width === horizontal) {
            if (!slide_forward.hasClass('d-none'))
                slide_forward.addClass('d-none');
        } else {
            if (slide_forward.hasClass('d-none'))
                slide_forward.removeClass('d-none');
        }

    })
});
</script>
{% endblock %}
