{% extends 'base.html' %}
{% load static %}
{% load cloudinary %}
{% load cloud_image %}

{% block title %}Burnoe.kz - рекламно-информационный портал Жуалынского района{% endblock title %}

{% block mycss %}
<style>

</style>
{% endblock %}

{% block contacts %}
    <!-- HOT CONTACTS -->
    <div class="mb-4">
{#        <div>Горячие контакты</div>#}
        <div class="position-relative">
            <div id="hot-container" class="d-flex hide-scroll-bar">
                <div class="position-absolute d-md-none" style="top: 47%; left: .5rem;">
                    <button id="hot-slide-back" class="btn btn-primary btn-sm d-none">&lt;</button>
                </div>
                <div class="position-absolute d-md-none" style="top: 47%; right: .5rem;">
                    <button id="hot-slide" class="btn btn-primary btn-sm">&gt;</button>
                </div>
                {% for contact in contacts %}
                    <div class="border border-success small mr-3 text-center" style="width: 130px; min-width: 130px">
                        <div class="overflow-hidden" style="white-space: nowrap; color: darkgreen">{{ contact.name }}</div>
                        <div class="overflow-hidden" style="white-space: nowrap; color: darkgreen">{{ contact.price }}</div>
                        <div class="overflow-hidden" style="white-space: nowrap; color: green;">{{ contact.phone }}</div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}

    {% include "_post_ad_banner.html" %}

    <!-- МАРКЕТ -->
    {% include "_adverts.html" with name='product' name_kaz='Маркет' main_page=True adverts=products categories=product_categories advert_count=product_count only %}

    <!-- SERVICES -->
    {% include "_adverts.html" with name='service' name_kaz='Услуги' main_page=True  adverts=services categories=service_categories advert_count=service_count only %}
{% endblock %}

{% block myscript %}
<script>

</script>
{% endblock %}
