{% extends 'base.html' %}
{% load static %}
{% load cloudinary %}
{% load crop_image %}
{% load event_photo %}

{% block title %}Burnoe.kz - рекламно-информационный портал Жуалынского района{% endblock title %}

{% block mycss %}
<style>

</style>
{% endblock %}

{% block contacts %}
    <div class="mb-2 my-3">
        <div class="position-relative">
            <div id="contacts-container" class="d-flex hide-scroll-bar js-slider">
                <a href="#" class="position-absolute btn btn-outline-dark bg-light btn-sm js-slide-back d-none font-weight-bold" style="top: 23%; left: .5rem;">&lt;</a>
                <a href="#" class="position-absolute btn btn-outline-dark bg-light btn-sm js-slide-forward font-weight-bold" style="top: 23%; right: .5rem;">&gt;</a>
                {% for contact in contacts %}
                    <div class="border border-success small mr-3 text-center" style="width: 130px; min-width: 130px">
                        <div class="overflow-hidden" style="white-space: nowrap; color: darkgreen">{{ contact.name }}</div>
                        <div class="overflow-hidden" style="white-space: nowrap; color: darkgreen">{{ contact.price }}</div>
                        <div class="overflow-hidden" style="white-space: nowrap; color: green;">{{ contact.phone }}</div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}

{% block news %}
    <div class="row no-gutters my-md-3">
        <div class="col-12 col-md-8 order-2 order-md-1 py-2 py-md-0 m-0" style="font-size: 0.9rem;">
            <div class="" style="max-width: 650px">
                {% for n_new in news %}
                    <div class="my-2 my-sm-1 pl-1">
                        <span class="text-muted">{{ n_new.created_date|date:'d.m' }}</span>
                        <img src="{% static 'icons/001-instagram.svg' %}" class="img-fluid" style="width: .9rem" />
                        <a href="{{ n_new.link }}" class="text-black" target="_blank">
                            {{ n_new.title }}
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="col-12 col-md-4 order-1 border-top border-bottom order-md-2">
            <div class="m-auto text-center rounded py-2" style="max-width: 350px; color: #1c9300;">
                <div>Подать объявление <span class="font-weight-bold" style="color: #9e0039;">бесплатно</span></div>
                <div>через Whatsapp</div>
                <div>
                    <img src="{% static 'icons/002-whatsapp.svg' %}" class="img-fluid" style="width: 1.25rem;" />
                    <span style="color: #1c9300" class="font-weight-bold">+7 747 112 6303</span>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block best_adverts %}
    <div class="pt-2"  style="">
        <div style="color:#9e0039;" class="pl-2 font-weight-bold">Рекомендуем</div>
        <div class="position-relative ">
            <div class="my-2 d-flex hide-scroll-bar js-slider" style="font-size: 0.9rem;">
                <button class="position-absolute btn btn-outline-dark bg-light js-slide-back d-none font-weight-bold" style="top: 33%; left: .5rem;">&lt;</button>
                <button class="position-absolute btn btn-outline-dark bg-light js-slide-forward font-weight-bold" style="top: 33%; right: .5rem;">&gt;</button>
                {% for advert in best_adverts %}
                <div class="rounded-top overflow-hidden ml-2 ml-sm-3" style="width: 180px; min-width: 180px;">
                    <div style="min-height: 100px">
                        <img src="{{ advert.servicephoto_set.first|crop_image:'180,100' }}" width="180" height="100" class="img-fluid" />
                    </div>
                    <div class="p-1 border overflow-auto hide-scroll-bar" style="font-size: 0.9rem; height: 90px;">
                        <a href="{% url 'service_detail' pk=advert.id %}" class="text-black">{{ advert.title }}</a> -
                        <span class="text-muted" style="">{{ advert.contact }}</span>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}

{% block category %}
    <div class="mb-4">
        <div style="color:#9e0039;" class="pl-2 font-weight-bold">Услуги</div>
        <div class="my-2 d-flex flex-wrap small">
            {% for category in service_categories %}
                <a href="#" class="text-decoration-none text-black">
                    <div class="ml-2 ml-sm-3 mb-2 p-1 border border-warning text-center" style="width: 105px; height: 3rem;">{{ category }}</div>
                </a>
            {% endfor %}
            {% for category in service_categories %}
                <a href="#" class="text-decoration-none text-black">
                    <div class="ml-2 ml-sm-3 mb-2 p-1 border border-warning text-center" style="width: 105px; height: 3rem;">{{ category }}</div>
                </a>
            {% endfor %}

                <a href="#" class="text-decoration-none text-black">
                    <div class="ml-2 ml-sm-3 mb-2 p-1 text-center" style="width: 105px; height: 3rem; border: 1px solid #919191;">Все категории</div>
                </a>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="pl-sm-2 pl-md-4 ml-2" style="max-width: 650px;">
{#            <div class="mb-4">#}
{#                <div class="text-uppercase text-muted mb-2 pl-2">Кафе и столовые</div>#}
                {% for advert in services %}
                    {% include '_adv.html' with advert=advert only %}
                {% endfor %}
{#            </div>#}
    </div>

    <div class="d-flex pl-sm-2 pl-md-4">
        <div class="text-muted font-weight-bold pl-2 pr-1" style="box-shadow: 3px 0 3px -3px rgba(0,0,0,0.45)">Другие объявления</div>
{#        <a href="#" class="d-flex align-self-center js-slide-back">&lArr;</a>#}
        <div class="d-flex align-self-center hide-scroll-bar" style="font-size: 0.9rem; ">
            {% for category in service_categories %}
                <span class="ml-2 px-1 text-muted" style="white-space: nowrap">{{ category }}</span>
            {% endfor %}
        </div>
{#        <a href="#" class="d-flex align-self-center js-slide-forward">&rArr;</a>#}
    </div>
{% endblock %}

{% block myscript %}
<script>
$('.js-slider').each(function(index) {
    console.log('js-slider ' + index);
    let width = $(this).width();
    let scrollWidth = $(this).get(0).scrollWidth;
    // let scrollLeft = $(this).scrollLeft();
    // console.log(`width: ${width}`);
    // console.log(`scrollWidth: ${scrollWidth}`);
    // console.log(`scrollLeft: ${scrollLeft}`);
    // console.log(`scrollWidth - width=${scrollWidth - width}`);
    if (width === scrollWidth)
        $(this).children('.js-slide-forward').first().addClass('d-none');
    else {
        $(this).children('.js-slide-back').first().click(function(e) {
            let parent = $(this).parent();
            parent.animate({scrollLeft: '-=200'}, 900, 'swing');
            return false;
        });
        $(this).children('.js-slide-forward').first().click(function(e) {
            let parent = $(this).parent();
            {#sideScroll(parent, 'right', 5000, 100, 20);#}
            parent.animate({scrollLeft: '+=200'}, 900, 'swing');
            return false;
        })
    }

    $(this).on('scroll', function(e) {
        let horizontal = e.currentTarget.scrollLeft;
        // console.log(horizontal);
        let slide_back = $(this).children('.js-slide-back').first();
        let slide_forward = $(this).children('.js-slide-forward').first();

        if (horizontal === 0) {
            if (!slide_back.hasClass('d-none'))
                slide_back.addClass('d-none')
        } else {
            if (slide_back.hasClass('d-none'))
                slide_back.removeClass('d-none')
        }

        let width = $(this).width();
        let scrollWidth = $(this).get(0).scrollWidth;
        if (scrollWidth - width === horizontal) {
            if (!slide_forward.hasClass('d-none'))
                slide_forward.addClass('d-none');
        } else {
            if (slide_forward.hasClass('d-none'))
                slide_forward.removeClass('d-none');
        }

    })
});

function sideScroll(element, direction, speed, distance, step) {
    scrollAmount = 0;
    var slideTimer = setInterval(function() {
        let hor = element.scrollLeft();
        if (direction === 'left') {
            element.scrollLeft(hor-step)
        } else {
            element.scrollLeft(hor+step)
        }
        scrollAmount += step;
        if (scrollAmount >= distance)
            window.clearInterval(slideTimer);
    })
}
</script>
{% endblock %}
