{% extends "base.html" %}
{% load static crop_image pad_image %}

{% block title %}{{ advert.title }} - рекламно-информационный сайт Жуалынского района{% endblock %}

{% block content %}
    {% include "_search_bar.html" %}
    <div>
        <!-- Услуги - Категория -->
        <div class="pl-2 mt-2 mb-3 normall">
            <a href="{% url 'service_list' %}?category={{ advert.category.id }}">{{ advert.category.name }}</a>
            <span class="text-muted"> &rang; {{ advert.title }}</span>
        </div>
    </div>
    <div class="row no-gutters">
        <div class="col" style="max-width: 650px">
        {% if advert.is_active %}
            <!-- Фотографии -->
            {% if advert.servicephoto_set.all.count > 0 %}
                <div id="carouselAdvert" class="carousel slide" data-ride="carousel" data-interval="false">
                    <ol class="carousel-indicators">
                        {% for photo in advert.servicephoto_set.all %}
                            <li data-target="#carouselAdvert" data-slide-to="{{ forloop.counter0 }}"
                                {% if forloop.first %}
                                    class="active"
                                {% endif %}
                            ></li>
                        {% endfor %}
                    </ol>
                    <div class="carousel-inner">
                        {% for photo in advert.servicephoto_set.all %}
                            <div
                                    {% if forloop.first %}
                                        class="carousel-item active"
                                    {% else %}
                                        class="carousel-item"
                                    {% endif %} style="background-color: gray"
                            >
                                <img src="{{ photo|pad_image:'650,650' }}" class="m-auto" style="max-width: 100%;" alt="...">
                            </div>
                        {% endfor %}
                    </div>
                    <a class="carousel-control-prev bg-primary" style="width: 2.2rem;" href="#carouselAdvert" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon"></span>
                    </a>
                    <a class="carousel-control-next bg-primary" style="width: 2.2rem;" href="#carouselAdvert" role="button" data-slide="next">
                        <span class="carousel-control-next-icon"></span>
                    </a>
                </div>
            {% else %}
                <div class="text-center">
                    <img src="{% static 'no_photo.jpg' %}" class="img-fluid">
                </div>
            {% endif %}
            <!-- Текст объявления -->
            <div class="pl-2 pt-2">
                <h5>{{ advert.title }}</h5>
                <p class="text-muted normall">{{ advert.address }}</p>
                <p style="word-wrap: break-word;" class="normall">{{ advert.content|linebreaksbr }}</p>
                <p>
                {% for contact in advert.contact_set.all %}
                    <img src="{% static 'icons/'|add:contact.type.icon %}" style="width: 1rem" />
                    <a href="{{ contact.type.link_suff }}{{ contact.account }}">{{ contact.account }}</a><br/>
                {% endfor %}
                </p>

                <div class="text-muted" style="">Опубликовано: {{ advert.created_date }}</div>
                <div class="text-muted" style="">Будет удален: {{ advert.last_date }}</div>
                <div class="text-muted" style="">Номер объявления: #{{ advert.id }}</div>
            </div>
        {% else %}
            <div class="alert alert-secondary text-center">
                Объявление не доступен 😐
            </div>
        {% endif %}
    </div>
        {% include "_upgrade.html" %}
    </div>

    <div class="mt-4" style="max-width: 650px">
        <p class="pl-2 py-2 bg-light text-secondary">Похожие объявления</p>
        <div class="mx-2 mx-md-0">
            {% for other_advert in other_adverts %}
                {% include "_adv.html" with advert=other_advert only %}
            {% endfor %}
        </div>
    </div>
{% endblock %}