{% extends 'base.html' %}

{% block title %}Burnoe.kz - Услуги{% endblock title %}

{% block mycss %}
<style>

</style>
{% endblock mycss %}

{% block content %}
    <div class="text-center">
        <div>Подать объявление бесплатно!</div>
        <div>8-747-112-6303</div>
    </div>

    <div class="my-4 d-flex hide-scroll-bar">
        <div class="p-1 ml-3 mr-md-3 rounded text-nowrap" style="background-color: #e6e6e6">Красота</div>
        <div class="p-1 ml-3 mr-md-3 rounded text-nowrap" style="background-color: #e6e6e6">Для авто</div>
        <div class="p-1 ml-3 mr-md-3 rounded text-nowrap" style="background-color: #e6e6e6">Ремонт</div>
        <div class="p-1 ml-3 mr-md-3 rounded text-nowrap" style="background-color: #e6e6e6">Здоровье</div>
    </div>

    <div>
        {% for foo in '1234567891' %}
            <div class="d-flex my-4">
                <div style="min-width: 250px;">
                    <img src="https://via.placeholder.com/250x150" class="img-fluid" />
                </div>
                <div class="px-2">
                    <a href="#" class="btn btn-link">{% lorem 4 w random %}</a>
                    <div class="">{% lorem 30 w random %}</div>
                </div>
                <div style="min-width: 150px">
                    Telephone: 8747112 6303 <br/>
                    График работы: круглосуточно <br/>
                    Цена: 5000 тг
                </div>
            </div>
        {% endfor %}

        <nav>
            <ul class="pagination justify-content-center">
                <li class="page-item">
                    <a class="page-link" href="#">
                        <span>&laquo;</span>
                    </a>
                </li>
                {% for num in '12345' %}
                    <li class="page-item">
                        <a href="#" class="page-link">{{ num }}</a>
                    </li>
                {% endfor %}
                <li class="page-item">
                    <a class="page-link" href="#">
                        <span>&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
{% endblock content %}
