{% extends 'base.html' %}
{% load static %}
{% load crop_image %}

{% block title %}Burnoe.kz - Услуги{% endblock title %}

{% block mycss %}
<style>

</style>
{% endblock mycss %}

{% block category %}
    <div class="">
        {% if current_category %}
        <div class="pl-2 my-3"><a href="{% url 'service_list' %}">Услуги</a> &rarr; <span>{{ current_category.name }}</span></div>
        {% else %}
        <p class="pl-2 my-3">
            <span>Услуги</span>
        </p>
        <div class="mt-2 d-flex flex-wrap small2">
            {% for category in service_categories %}
                {% if category.service_count == 0 %}
                    <div class="ml-2 ml-sm-3 mb-2 p-1 border border-secondary text-muted text-center" style="width: 105px; height: 3rem;">{{ category.name }}</div>
                {% else %}
                <a href="{% url 'service_list' %}?category={{ category.id }}" class="text-decoration-none" style="color: #00454f;">
                    <div class="ml-2 ml-sm-3 mb-2 p-1 text-center"
                         style="width: 105px;
                                {% if category.id == current_category.id %}
                                    background-color: #c3fff1;
                                {% endif %}
                                height: 3rem; border: 1px solid #00898b;"
                    >{{ category }}</div>
                </a>
                {% endif %}
            {% endfor %}
        </div>
        {% endif %}
    </div>

    <p class="text-muted pl-2" style="">
        Найдено {{ service_count }} объявлений
        {% if current_category %}
            в "{{ current_category.name }}"
        {% endif %}
    </p>
{% endblock %}

{% block content %}
    <div class="pl-sm-2 pl-md-4 ml-2" style="max-width: 650px; ">
{#            <div class="mb-4">#}
                {% for advert in services %}
                    {% include '_adv.html' with advert=advert only %}
                {% empty %}
                    <div class="h5 alert alert-info text-center">
                        Пока нет активных объявлении 😴
                    </div>
                {% endfor %}
{#            </div>#}
    </div>

    {% if is_paginated %}
        <nav class="mt-3">
            <ul class="pagination justify-content-center">
                {% if page_obj.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.previous_page_number }}{{ filter_param_str }}">
                            <span>&laquo;</span>
                        </a>
                    </li>
                {% endif %}

                {% for num in page_obj.paginator.page_range %}
                    <li
                            {% if page_obj.number == num %}
                            class="page-item active"
                            {% else %}
                            class="page-item"
                            {% endif %}
                    >
                        <a href="?page={{ num }}{{ filter_param_str }}" class="page-link">{{ num }}</a>
                    </li>
                {% endfor %}

                {% if page_obj.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.next_page_number }}{{ filter_param_str }}">
                            <span>&raquo;</span>
                        </a>
                    </li>
                {% endif %}
            </ul>
        </nav>
    {% endif %}
{% endblock %}
