{% extends 'base.html' %}
{% load static %}
{% load crop_image %}

{% block title %}Все услуги - рекламно-информационный сайт Жуалынского района{% endblock title %}

{% block content %}
    {% include "_search_bar.html" %}

    <div class="">
        <div>
            {% if current_category %}
            <div class="pl-2 normall mt-2 mb-3">
                <a href="{% url 'service_list' %}">Категории</a>
                <span class="text-muted"> &rang; {{ current_category.name }}</span>
            </div>
            {% endif %}
        </div>

        {% if not current_category %}
        <!-- CATEGORIES -->
        <div class="my-3">
            <div class="my-2 pl-sm-2 d-flex justify-content-center flex-column flex-sm-row flex-wrap hide-scroll-bar bb-categories">
                {% for category in service_categories %}
                    <div class="d-flex mb-3 ml-2" style="width: 178px; min-width: 178px">
                        <img src="{% static "icons/"|add:category.icon_name %}" style="width: 2.4rem" />
                        <a href="{% url 'service_list' %}?category={{ category.id }}" class="ml-2 align-self-center">
                            {{ category.name }}
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
        {% endif %}
    </div>

    <div class="row no-gutters">
        <div class="px-sm-2 mx-2 col" style="max-width: 650px; ">
            {% for advert in services %}
                {% include '_adv.html' with advert=advert only %}
            {% empty %}
                <div class="h5 alert alert-info text-center">
                    Пока нет активных объявлении 😴
                </div>
            {% endfor %}
        </div>
        {% include "_upgrade.html" %}
    </div>

    {% if is_paginated %}
        <nav class="mt-3">
            <ul class="pagination justify-content-center">
                {% if page_obj.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.previous_page_number }}{{ filter_param_str }}">
                            <span>&laquo;</span>
                        </a>
                    </li>
                {% endif %}

                {% for num in page_obj.paginator.page_range %}
                    <li
                            {% if page_obj.number == num %}
                            class="page-item active"
                            {% else %}
                            class="page-item"
                            {% endif %}
                    >
                        <a href="?page={{ num }}{{ filter_param_str }}" class="page-link">{{ num }}</a>
                    </li>
                {% endfor %}

                {% if page_obj.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.next_page_number }}{{ filter_param_str }}">
                            <span>&raquo;</span>
                        </a>
                    </li>
                {% endif %}
            </ul>
        </nav>
    {% endif %}
{% endblock %}
