{% extends 'base.html' %}

{% block title %}Пайдалану шарттары - Жуалы ауданы бойынша қызметтерді жарнамалау сайты{% endblock %}

{% block content %}
    {% include "_search_bar.html" %}
    <div>
        <a href="/">Басты бет</a>
        <span class="text-muted">&rang; Пайдалану шарттары</span>
    </div>

    <div>
        Если Вы используете услуги данного ресурса, Вы обязаны не:
выполнять действия или предоставлять данные, которые могут быть растолкованы как незаконные, оскорбительные, вульгарные, нецензурные, порнографические или же препятствующие работе сайта;
предоставлять информацию, которая нарушает местное и государственное законодательство Республики Казахстан, а также международное законодательство;
использовать чужие контактные данные, а также предоставлять ложную информацию;
использовать сайт Adiso.kz для распространения спама или рекламы.
    </div>
{% endblock %}