{% extends 'base.html' %}

{% block title %}Пайдалану шарттары - Жуалы ауданы бойынша қызметтерді жарнамалау сайты{% endblock %}

{% block content %}
    {% include "_search_bar.html" %}
    <div>
        <a href="/">Басты бет</a>
        <span class="text-muted">&rang; Пайдалану шарттары</span>
    </div>

    <div class="mt-3" style="max-width: 650px; font-size: .9rem;">
        <p>burnoe.kz сайтын пайдаланатын болсаңыз, онда сіз сайттың Пайдалану шарттарымен келіскен болып есептелесіз.</p>
        <p>
            Хабарландыру жіберу арқылы сайтқа тіркелесіз. Ұсынған ақпараттарыңызды қолдануға, сақтауға, таратуға, өзгеріс енгізуге және қазақ тіліне аударуға біздің толық құқығымыз бар.
            Хабарландыруыңызды жариялаудан бас тартуға, ақпараттарыңызды кез келген себеппен сайттан өшіріп тастауға
            құқығымыз бар. Сайтқа хабарландыру жіберу арқылы өзіңіз туралы жеке ақпараттар жария болатынын есте сақтаңыз.
        </p>
        <p>Шарт әлі толықтырылады және кез-келген даулы мәселе туындаған жағдайда сайттың пайдасына шешіледі</p>
    </div>
{% endblock %}